<div class="grid pad-15 center">
    <div class="col-12">
      <span id="formLogin"></span>
      <div class="space"></div>
        <mat-card class="login-card">
            <div class="row">
                <mat-card-header>
                    <mat-card-title>
                        <i class="material-icons pad-5">assignment_ind</i>
                      <b class="inline">Register</b>
                    </mat-card-title>
                  </mat-card-header>
            </div>
            <div class="space"></div>
            <div class="form-container">
                <mat-form-field>
                    <input matInput placeholder="Enter your email" [(ngModel)]="registerUserData.email" name="email" [type]="'email'" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Enter your password" [(ngModel)]="registerUserData.password" name="password" [type]="'password'">
                </mat-form-field>
                <mat-card-subtitle class="example-button-row">
                    <div class="space"></div>
                <div class="row right">
                    <button mat-fab color="accent" (click)="registerUser()">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
                </mat-card-subtitle>
            </div>
        </mat-card>
    </div>
</div>


<!-- <div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Register</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="uname1">Username</label>
                <input type="text" [(ngModel)]="registerUserData.email" name="email" class="form-control rounded-0" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" [(ngModel)]="registerUserData.password" name="password" class="form-control rounded-0"  required>
              </div>
              <button type="button" (click)="registerUser()" class="btn btn-primary float-right">Register</button>
            </form>
          </div>
          
        </div>
        
  
      </div>
  
  
    </div>
  </div> -->
