<div class="space"></div>
<div class="grid-3-center">
  <div class="col-3"></div>
      <div class="col-6">
            <mat-card>
              <mat-card-subtitle>
                <img mat-card-image src="https://www.zoomcatalog.com/sites/all/themes/zoomcatalog/logo.png">
              </mat-card-subtitle>
              <mat-card-footer class="right"> 
                  Carlos Sinhue García Hernández
                </mat-card-footer>
            </mat-card>
          </div>
          <div class="col-3"></div>
        </div>

  