<div class="space-xl"></div>
<div class="grid-3-center">
    <div class="col-2"></div>
    <div class="col-5">
        <mat-card>
            <mat-card-header>
              <mat-card-title>
                <i class="material-icons pad-5">account_circle</i>
                  <b class="inline">Login</b>
              </mat-card-title>
            </mat-card-header>
            <div class="space"></div>
            <div class="form-container pad-15">
                <mat-form-field>
                    <input matInput placeholder="Enter your email" [(ngModel)]="loginUserData.email" name="email" [type]="'email'" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Enter your password" [(ngModel)]="loginUserData.password" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <mat-card-subtitle class="example-button-row">
                <div class="space"></div>
                <div class="grid-3">
                  <div class="col-10"></div>
                  <div class="col-1">
                      <button mat-fab color="accent" (click)="loginUser()">
                          <mat-icon>send</mat-icon>
                      </button>
                  </div>
                  <div class="col-1"></div>
                </div>
                </mat-card-subtitle>
            </div>
        </mat-card>
    </div>
    <div class="col-2"></div>
</div>
