/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Poppins');

html{
    background-color: #002B37;
}

body {
    height: 100%;
    overflow-x: hidden ;
    /* background: url('http://redpithemes.com/Documentation/assets/img/page_bg/page_bg_blur03.jpg') no-repeat center center fixed; */
    mix-blend-mode: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 40px auto;
    background: rgba(22,22,22, 0.5);
    width: 100%;
    max-width: 960px;
    border-radius: 5px;
    padding-bottom: 32px;
  }
p, a, li, div, b{
    font-family: 'Poppins', sans-serif;
}
.white-text {
    color:#fff;
}
.space{
    margin-top: 70px;
}
.space-xl{
    margin-top: 100px;
}
.inline{
    display: inline;
}
.pad-5{
    padding: 5px;
}
.pad-10{
    padding: 10px;
}
.pad-15{
    padding: 15px;
}
.box {
    background: #f8f8f8;
  }
  .box:hover {
    box-shadow: 0 0 11px #442c2e; 
  }
  .navbar {
    overflow: hidden;
    position: fixed; 
    z-index: 999;
    top: 0;
    box-shadow: 0 0 11px rgba(33,33,33,.2);  
  }
.data-table{
    width: 80%;
}
.image-card {
    max-width: 400px;
  }
.login-card{
    width:400px;
}
.right{
    float: right;
}
.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 100%;
  }
  .navbar-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    box-shadow: 1px 2px 5px #000;
    z-index: 9;
  }
.text-color-map{
    color:#00ffff;
    text-align: center;
}
.mat-nav-list {
    background-color: #c7e03bf1;
    color:#000;
}
